<div id="modal-proveedor-fotos" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class=" self-stretch h-72 p-4 justify-end items-start rounded-t-3xl gap-2.5 flex"
                style="background: url('{{valueInput?.foto?.url}}');height: 100%;width: 100%;">

                <button type="button" (click)="activate_modal('close')"
                    class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-terceary hover:text-fondo">
                    <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div
                class="flex items-center space-x-2 rtl:space-x-reverse self-stretch h-fit p-4 bg-white rounded-b-3xl flex-col justify-start gap-2">
                <div class="self-stretch justify-between items-center gap-2 md:gap-40 flex flex-col md:flex-row">
                    <h1 class="text-center text-secondary text-base font-bold font-Montserrat capitalize">
                        {{valueInput?.foto?.titulo}}</h1>
                    <div class="justify-center items-center gap-2 flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4s-4 1.794-4 4s1.794 4 4 4m0-6c1.103 0 2 .897 2 2s-.897 2-2 2s-2-.897-2-2s.897-2 2-2" />
                            <path fill="currentColor"
                                d="M11.42 21.814a.998.998 0 0 0 1.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819M12 4c3.309 0 6 2.691 6 6.005c.021 4.438-4.388 8.423-6 9.73c-1.611-1.308-6.021-5.294-6-9.735c0-3.309 2.691-6 6-6" />
                        </svg>
                        <span class="text-center text-terceary text-sm font-normal font-Battambang leading-relaxed">
                            {{valueInput?.foto?.lugar}}</span>
                    </div>
                </div>
                <div class="self-stretch justify-between items-center inline-flex">
                    <div class="justify-center items-center gap-2 flex">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-primary" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4s-4 1.794-4 4s1.794 4 4 4m0-6c1.103 0 2 .897 2 2s-.897 2-2 2s-2-.897-2-2s.897-2 2-2" />
                            <path fill="currentColor"
                                d="M11.42 21.814a.998.998 0 0 0 1.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819M12 4c3.309 0 6 2.691 6 6.005c.021 4.438-4.388 8.423-6 9.73c-1.611-1.308-6.021-5.294-6-9.735c0-3.309 2.691-6 6-6" />
                        </svg>
                        <span
                            class="text-center text-terceary text-sm font-normal font-Battambang leading-relaxed">Autor
                            de la foto</span>
                    </div>
                    <div class="justify-center items-center gap-2 flex">
                        <div class="w-7 h-7 p-1.5 bg-indigo-800 rounded-full justify-center items-center inline-flex">
                            <a href="" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-4 h-4"
                                    viewBox="0 0 48 48">
                                    <path fill="#fff" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"></path>
                                    <path fill="#3B5998"
                                        d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        <div class="w-7 h-7 p-1.5 bg-pink-600 rounded-full justify-center items-center inline-flex">
                            <a href="" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-4 h-4"
                                    viewBox="0 0 30 30">
                                    <path fill="#fff"
                                        d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>