<div class="content font-Battambang">
  <hr class="h-px my-2 md:my-4 bg-white border-0" />

  <!-- ------------- TITLESS ATRACTIVO ---------------  -->
  <div class="flex flex-col gap-4">
    <div class="flex gap-4">
      <h3 class="title">
        {{ dtoAtractivoTuristicoInfo.nombre }}
      </h3>
    </div>
    <div class="flex gap-4 items-center justify-between md:justify-start">
      <h3 class="text-description">
        {{ dtoAtractivoTuristicoInfo.ubicacion }}
      </h3>
      <div class="flex items-center justify-center text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
          <path fill-rule="evenodd"
            d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            clip-rule="evenodd" />
        </svg>

        <a class="text-sm">Ver Mapa</a>
      </div>
    </div>
  </div>

  <!-- // --------------- GALLERY  --------------- \\ -->
  <!-- <div class="mx-10">
    <swiper-container
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="mySwiper"
      thumbs-swiper=".mySwiper2"
      space-between="10"
      navigation="true"
    >
      @for (item of get_Keys(dtoAtractivoTuristicoInfo?.fotos?.gallery); track
      $index) {
      <swiper-slide>
        <div>
          <img
            src="{{ dtoAtractivoTuristicoInfo.fotos.gallery[item] }}"
            class="h-56 w-56 max-w-full rounded-lg"
            alt=""
          />
        </div>
      </swiper-slide>
      }
    </swiper-container>

    <swiper-container
      class="mySwiper2"
      space-between="10"
      slides-per-view="4"
      free-mode="true"
      watch-slides-progress="true"
    >
      @for (item of get_Keys(dtoAtractivoTuristicoInfo?.fotos?.gallery); track
      $index) {
      <swiper-slide>
        <div>
          <img
            src="{{ dtoAtractivoTuristicoInfo.fotos.gallery[item] }}"
            class="h-24 w-24 max-w-full rounded-lg"
            alt=""
          />
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>-->

  <div class="md:mx-10 my-8">
    <swiper-container style="
        --swiper-navigation-color: #f33535;
        --swiper-pagination-color: #f33535;
      " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true" slides-per-view="3" >
      @for (item of get_Keys(dtoAtractivoTuristicoInfo?.fotos?.gallery); track $index) {
      <swiper-slide>
        <div>
          <img src="{{ dtoAtractivoTuristicoInfo.fotos.gallery[item] }}" class="h-60 w-60 max-w-full rounded-lg"
            alt="" />
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>

  <div class="w-full my-8 flex flex-col gap-8 md:gap-12">
    <!-- // --------------- DESCRIPTION ATRACTIVO  --------------- \\ -->
    <div class="flex flex-col gap-4 md:gap-8">
      <h3 class="subtitle">Descripción</h3>
      <h3 class="text-description text-justify md:pr-2">
        {{ dtoAtractivoTuristicoInfo.descripcion }}
      </h3>
    </div>

    <!------------HORARIO---------------->

    <div class="flex flex-col gap-4 md:gap-4">
      <h3 class="subtitle">Horario</h3>
      <div class="grid grid-cols-1 gap-4 md:gap-8 md:grid-cols-3">
        <div class="flex gap-4">
          <div class="rounded-full p-2 h-fit w-fit bg-primary items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <g clip-path="url(#clip0_1364_1031)">
                <path
                  d="M12 2.00024C17.523 2.00024 22 6.47724 22 12.0002C22 17.5232 17.523 22.0002 12 22.0002C6.477 22.0002 2 17.5232 2 12.0002C2 6.47724 6.477 2.00024 12 2.00024ZM12 6.00024C11.7348 6.00024 11.4804 6.1056 11.2929 6.29314C11.1054 6.48067 11 6.73503 11 7.00024V12.0002C11.0001 12.2654 11.1055 12.5198 11.293 12.7072L14.293 15.7072C14.4816 15.8894 14.7342 15.9902 14.9964 15.9879C15.2586 15.9856 15.5094 15.8805 15.6948 15.6951C15.8802 15.5097 15.9854 15.2588 15.9877 14.9966C15.99 14.7344 15.8892 14.4818 15.707 14.2932L13 11.5862V7.00024C13 6.73503 12.8946 6.48067 12.7071 6.29314C12.5196 6.1056 12.2652 6.00024 12 6.00024Z"
                  fill="#FEFBFB" />
              </g>
              <defs>
                <clipPath id="clip0_1364_1031">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="text-description flex flex-col">
            <p>{{ dtoAtractivoTuristicoInfo.horario }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- // --------------- TARIFAS --------------- \\ -->

    <div class="flex flex-col gap-4 md:gap-8">
      <h3 class="subtitle">Tarifas</h3>
      <p class="text-description">{{ dtoAtractivoTuristicoInfo.tarifa}}</p>
    </div>
    <!-- // --------------- TOURS QUE LO INCLUYEN --------------- \\ -->
    <!-- <div class="flex flex-col gap-4 md:gap-8">
      <h3 class="subtitle">Tours que incluye este atractivo</h3>
      <div class="">
        <swiper-container style="
            --swiper-navigation-color: #f33535;
            --swiper-pagination-color: #f33535;
          " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true" slides-per-view="4">
          @for (item of dtoAtractivoTuristicoInfo.tours; track item.id) {
          <swiper-slide>
            <div class="bg-fondo border border-terceary rounded-3xl shadow overflow-hidden cursor-pointer">
              <a>
                <img class="rounded-t-lg" src="{{ item.fotos.principal.url }}" alt="{{ item.nombre }}" />
              </a>
              <div class="p-4 flex flex-col items-start gap-2">
                <h5 class="text-xl font-bold font-Battambang leading-normal text-secondary">
                  {{ item.nombre }}
                </h5>
                <div class="text-sm font-Battambang leading-normal text-terceary">
                  {{ item.agencia.nombre }}
                </div>

                <div class="flex text-base justify-start items-center gap-1">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
                      clip-rule="evenodd" />
                  </svg>
                  <span>{{ item.duracion }}</span>
                </div>

                <p class="text-base font-bold text-primary">
                  S/. {{ item.precio }} /persona
                </p>
              </div>
            </div>
          </swiper-slide>
          }
        </swiper-container>
      </div>
      <div class="w-full h-fit flex justify-center">
        <button class="p-4 bg-primary rounded-xl text-fondo text-base">
          Ver Tours y Experiencias
        </button>
      </div>
    </div> -->

    <!-- // --------------- INFORMACIÓN ADICIONAL  --------------- \\ -->
    <div class="flex flex-col gap-4 md:gap-8">
      <h3 class="subtitle">Información adicional</h3>
      <ul class="text-terceary list-disc list-inside dark:text-gray-400">
        @for (item of dtoAtractivoTuristicoInfo.InfoAdicional; track item) {
        <li class="text-description text-justify md:pr-2 pb-1">
          <strong>{{ item.split(":")[0] }}: </strong>
          {{ item.split(":")[1] }}
        </li>
        }
      </ul>
    </div>
  </div>
</div>