<nav class="flex font-Battambang font-bold" aria-label="Breadcrumb">
  <ol class="inline-flex items-center">
    @for (breadcrumb of breadcrumbs; track breadcrumb.label) { @if
    (isCurrentRoute(breadcrumb.url)) {
    <span class="cursor-pointer inline-flex items-center text-sm font-bold text-primary hover:text-primary capitalize">
      {{ breadcrumb.label }}</span>
    }@else {
    <a [href]="breadcrumb.url"
      class="inline-flex items-center text-sm font-medium text-terceary text-opacity-50 hover:text-primary capitalize">
      {{changeName(breadcrumb.label ) }} /
    </a>
    } }
  </ol>
</nav>