<nav class="flex" aria-label="Breadcrumb">
  <ol
    class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
  >
    @for (breadcrumb of breadcrumbs; track breadcrumb.label) { @if
    (isCurrentRoute(breadcrumb.url)) {
    <span
      class="cursor-pointer inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
    >
      {{ breadcrumb.label }}</span
    >
    }@else {
    <a
      [href]="breadcrumb.url"
      class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
    >
      {{ breadcrumb.label }} /
    </a>
    } }
  </ol>
</nav>
