<div
  class="w-full h-full rounded-3xl flex-col justify-start items-start shadow-lg"
>
  <div
    class="self-stretch h-40 p-6 rounded-t-3xl flex-col justify-start items-end gap-10 flex"
    style="
      background: linear-gradient(rgba(41, 37, 44, 0.5), rgba(41, 37, 44, 0.5)),
        url('./assets/lamerced.jpg') center no-repeat;
      background-size: cover;
    "
  ></div>
  <div
    class="self-stretch h-60 p-6 bg-neutral-50 rounded-b-3xl flex-col justify-center items-center gap-5 flex"
  >
    <div
      class="self-stretch h-48 flex-col rounded-b-3xl justify-center items-center gap-3 flex"
    >
      <div
        class="self-stretch text-center text-slate-700 text-base xxxs:text-lg xxs:text-xl xs:text-2xl font-bold font-['Oswald'] uppercase"
      >
      ¡SÍGUENOS EN REDES SOCIALES!
      </div>
      <div
        class="self-stretch text-center text-zinc-800 text-xs xxxs:text-sm xxs:text-base font-normal font-['Battambang'] leading-relaxed"
      >
      Únete hoy a nuestra comunidad y mantente al tanto sobre nuestras últimas novedades y funcionalidades. ¡Te esperamos!
      </div>
      <div class="justify-start items-center rounded-b-3xl gap-2 inline-flex">
        <div class="justify-start items-start gap-2.5 flex">
          <div class="justify-start items-center gap-2.5 flex">
            <div
              class="p-2.5 bg-indigo-800 rounded-full justify-center items-center gap-2.5 flex"
            >
              <a href="/" class="w-5 h-5 relative">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-5 h-5" viewBox="0 0 48 48">
                  <path fill="#fff" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"></path>
                  <path fill="#3B5998"
                    d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
          <div class="justify-start items-center gap-2.5 flex">
            <div
              class="p-2.5 bg-pink-600 rounded-full justify-center items-center gap-2.5 flex"
            >
              <a href="/" class="w-5 h-5 relative">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-5 h-5" viewBox="0 0 30 30">
                  <path fill="#fff"
                    d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
