<div class="calendar font-Battambang">
    <div class="flex items-center justify-start font-bold pb-8 gap-8">
       
        <span class="text-secondary uppercase text-2xl font-black font-Battambang leading-loose ">
            {{ dateSelect | date: 'MMMM, YYYY'}}
        </span>
        <div class="flex gap-2">
        <div (click)="changeMonth(-1)">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-7 h-7 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>

        </div>
        <div (click)="changeMonth(1)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
              

        </div>
    </div>
    </div>


    <div class="days" *ngIf="monthSelect.length > 0">
        <ol>
            <li *ngFor="let day of week" class="desing-head-days text-xl text-terceary uppercase font-bold text-center border">
                {{ day }}
            </li>
            <li [style.gridColumnStart]="first ? day?.indexWeek : 'auto '"
                *ngFor="let day of monthSelect;let first = first">
                <div class="desing-card-day  ">


                    <div class="carusel border grid grid-cols-1 p-2">
                        <!-- <span>{{day?.value}}</span> -->
                        <div *ngIf="day.events.length!= 0" class=" col-span-1 h-fit bg-fondo rounded-3xl shadow-lg">

                            <swiper-container class="h-72" pagination="true" navigation="false"
                                grap-cursor="true" slide-per-view="auto" coverflow-effect-rotate="0"
                                coverflow-effect-stretch="0" coverflow-effect-depth="200"
                                coverflow-effect-slide-shadows="false">

                                <swiper-slide class="flex flex-col gap-2 p-4" *ngFor="let item of day.events" (click)="goToSubEventoDetail(item)">
                                    <img [src]="item.img"
                                        class="block h-28 rounded-3xl" alt="...">
                                    <!-- <img [src]="item.img" class="block h-24 rounded-lg" alt="..."> -->


                                    <h1 class="text-center text-primary text-base font-bold">
                                        {{item.name_subevent}}</h1>
                                        <div class="w-ful h-fit flex flex-col gap-2">
                                    <div class="flex items-center justify-start text-left gap-2 w-full">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                                        </svg>

                                        <h1 class="text-black text-base font-normal font-Battambang leading-none">{{item.location}}</h1>
                                    </div>
                                    <div class="flex items-center justify-start text-left gap-2 w-full">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-primary">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>

                                        <h1 class="text-black text-base font-normal font-Battambang leading-none">{{item.name_father}}</h1>
                                    </div>
                                </div>
                                </swiper-slide>
                            </swiper-container>

                        </div>
                        <div *ngIf="day.events.length== 0" class="bg-primary h-72 flex text-fondo rounded-3xl items-center justify-center justify-items-center text-center">
                            Sin evento
                        </div>

                    </div>
                </div>
            </li>
        </ol>
    </div>

</div>