.calendar {

    .searchs {
        padding: 1.2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #2261C5;
        color: white;

    }
    

    .days {
        ol {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin: 0;
            padding: 0;            

        }
    }
}

  
/*   .custom-next, .custom-prev {
    --position: absolute;
    --bottom: 0;
    --width: calc(var(--swiper-navigation-size) / 44 * 27);
    --height: var(--swiper-navigation-size);
    --margin-top: calc(0 - (var(--swiper-navigation-size) / 2));
    --z-index: 10;
    --cursor: pointer;
    --display: flex;
    --align-items: center;
    --justify-content: center;
    --color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }
  
  .custom-next svg, .custom-prev svg {
    --width: 3vh;
    --background: red;
    --height: 3vh;
    --object-fit: contain;
    --transform-origin: center;
    --padding: 5px;
    --border-radius: 50%;
  } */