<div id="modal-redes-sociales" tabindex="-1" aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0">
  <div class="relative max-h-full w-full max-w-2xl">
    <div class="relative rounded-3xl bg-white shadow dark:bg-gray-700">
      <div class="w-full h-full rounded-3xl flex-col justify-start items-start shadow-lg">
        <div class="self-stretch h-60 p-6 rounded-t-3xl flex-col justify-start items-end gap-10 flex insert-image">
          <button type="button" (click)="activate_modal('close')"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="self-stretch  p-6 bg-fondo rounded-b-3xl flex-col justify-center items-center gap-5 flex">
          <div class="self-stretch  flex-col rounded-b-3xl justify-center items-center gap-3 flex">
            <div
              class="self-stretch text-center text-secondary text-base xxxs:text-lg xxs:text-xl xs:text-2xl font-bold font-['Oswald']">
              ¡Síguenos en Redes Sociales!
            </div>
            <div
              class="self-stretch text-center text-terceary text-xs xxxs:text-sm xxs:text-base font-normal font-Battambang leading-relaxed">
              Únete hoy a nuestra comunidad y mantente al tanto sobre nuestras últimas novedades y funcionalidades. ¡Te
              esperamos!
            </div>
            <div class="justify-start items-center rounded-b-3xl gap-2 inline-flex">
              <div class="justify-start items-start gap-2.5 flex">
                <div class="justify-start items-center gap-2.5 flex">
                  <div class="p-2.5 bg-indigo-800 rounded-full justify-center items-center gap-2.5 flex">
                    <a href="https://www.facebook.com/mis.pueblitos?locale=gl_ES" target="_blank"
                      class="w-5 h-5 relative">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-5 h-5" viewBox="0 0 48 48">
                        <path fill="#fff" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"></path>
                        <path fill="#3B5998"
                          d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z">
                        </path>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="justify-start items-center gap-2.5 flex">
                  <div class="p-2.5 bg-pink-600 rounded-full justify-center items-center gap-2.5 flex">
                    <a href="https://www.instagram.com/mis.pueblitos/" target="_blank" class="w-5 h-5 relative">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-5 h-5" viewBox="0 0 30 30">
                        <path fill="#fff"
                          d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z">
                        </path>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="justify-start items-center gap-2.5 flex">
                  <div class="p-2.5 bg-pink-500 rounded-full justify-center items-center gap-2.5 flex">
                    <a href="https://www.tiktok.com/@mis.pueblitos" target="_blank" class="w-5 h-5 relative">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" viewBox="0 0 24 24">
                        <path fill="currentColor"
                          d="M16.6 5.82s.51.5 0 0A4.278 4.278 0 0 1 15.54 3h-3.09v12.4a2.592 2.592 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>