

<!-- HEADER -->
<div class="bg-fondo">
  <div class="w-full h-fit bg-cover" style="background-image: url('./../../../assets/chacas.jpg')">
        <div class="w-full h-full bg-terceary flex flex-col justify-start items-center bg-opacity-50">
            <div class="nav-header p-5 h-fit w-full">
                <app-navar></app-navar>
            </div>
            <div class="w-fit h-fit flex flex-col text-center mx-4 my-20 md:mx-8 md:my-20 lg:mx-20 lg:my-40 xl:mx-40 xl:my-60 gap-10">
                <div class="text-fondo  text-xl md:text-4xl font-normal font-['Battambang']">
                    Bienvenido a Mis Pueblitos 
                </div>
                <div class="text-fondo text-4xl md:text-6xl font-extrabold font-['Montserrat'] uppercase">
                    Donde celebramos la belleza y la diversidad de los pueblos del Perú
                </div>
            </div>
        </div>
    </div>
    
    
   
     <!-- Que es mi pueblitos-->
     <div class="bg-fondo xl:mx-auto max-w-[1120px] flex m-4 md:m-8 lg:m-20 xl:mt-24 flex-col text-center gap-4 xl:gap-8">
        <h1 class="text-secondary text-3xl font-extrabold ">CONOCE SOBRE NOSOTROS</h1>
        <h1 class="text-terceary text-xl font-normal ">Mis Pueblitos: Una Iniciativa Nacida del Amor por Nuestras Raíces</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 xl:gap-8 auto-cols-max font-['Battambang']">
        <div class="flex flex-col rounded-3xl items-center justify-center p-10 lg:p-20 gap-4 lg:gap-8 bg-primary text-center text-fondo">
            <h1 class="text-2xl font-extrabold ">¿QUE ES MI PUEBLITOS?</h1>
            <p class="text-base font-normal">En el corazón de Chacas, Mis Pueblitos cobra vida gracias a la pasión de un grupo de chacasinos que aman profundamente sus raíces y se han propuesto impulsar el turismo en Chacas, sus alrededores y en todo el hermoso Perú. Con nuestra experiencia tecnológica y un equipo excepcional, creamos esta plataforma para brindar a turistas, emprendedores y residentes herramientas e información local actualizada sobre los destinos que desean explorar. Nos inspira la idea de que cada persona, al unirse a nosotros, pueda vivir las experiencias maravillosas que el Perú tiene reservadas. ¡Te invitamos a descubrir y compartir las auténticas maravillas de nuestro país en Mis Pueblitos!</p>
        </div>
        <img class="h-full rounded-3xl " src='./../../../assets/chacas.jpg' />
        <img class="h-full rounded-3xl " src='./../../../assets/chacas.jpg' />
        <div class="flex flex-col rounded-3xl  items-center justify-center p-10 lg:p-20 gap-4 lg:gap-8 bg-secondary text-center text-fondo">
            <h1 class="text-2xl font-extrabold ">¿CUAL ES NUESTRO OBJETIVO?</h1>
            <p class="text-xl font-normal">Guiando Tu Experiencia, Construyendo el Turismo Local</p>
            <p class="text-base font-normal">En Mis Pueblitos, aspiramos a ser la guía esencial para el turismo en Chacas, sus alrededores y en todo el Perú. Buscamos convertirnos en tu aliado de confianza, proporcionándote información directa para planificar tu visita o las herramientas necesarias para impulsar tu negocio turístico. </p>
        </div>
   </div> 
</div>

     <!-- Team -->
        
<div class="bg-fondo flex m-4 md:m-8 lg:m-20 xl:mx-auto max-w-[1120px] xl:my-24 flex-col text-center gap-4 xl:gap-8">
    <h1 class="text-secondary text-3xl font-extrabold ">NUESTRO EQUIPO</h1>
    <p class="text-normal">Conoce al equipo apasionado detrás de Mis Pueblitos</p>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 justify-items-center font-Battambang">
    <div class="w-full max-w-xs bg-fondo rounded-3xl border-2 border-red-500">
        <div class="flex flex-col  items-center p-10">
            <img class="w-24 h-24 mb-6 rounded-full border-2 border-primary shadow-lg" src="./../../../assets/chacas.jpg" />
            <h5 class="mb-2 text-terceary text-xl font-bold font-Battambang">Wanly Obregón Casique</h5>
            <span class="mb-8 text-primary text-xl font-normal font-Battambang "> Líder Técnico</span>
            <svg class="w-6 h-6 text-terceary text-opacity-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
                <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
              </svg>  
                
        </div>
    </div>
    <div class="w-full max-w-xs bg-fondo rounded-3xl border-2 border-red-500 ">
        <div class="flex flex-col justify-center items-center p-10">
            <img class="w-24 h-24 mb-6 rounded-full border-2 border-primary shadow-lg" src="./../../../assets/chacas.jpg" />
            <h5 class="mb-2 text-terceary text-xl font-bold font-Battambang">Ariana Obregón Casique</h5>
            <span class="mb-8 text-primary text-xl font-normal font-Battambang ">Product Owner</span>
            <svg class="w-6 h-6 text-terceary text-opacity-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
                <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
              </svg>  
                
        </div>
    </div>
    <div class="w-full max-w-xs bg-fondo rounded-3xl border-2 border-red-500 ">
        <div class="flex flex-col justify-center items-center p-10">
            <img class="w-24 h-24 mb-6 rounded-full border-2 border-primary shadow-lg" src="./../../../assets/chacas.jpg" />
            <h5 class="mb-2 text-terceary text-xl font-bold font-Battambang">Angel Mora</h5>
            <span class="mb-8 text-primary text-xl font-normal font-Battambang ">Desarrollador Full Stack</span>
            <svg class="w-6 h-6 text-terceary text-opacity-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
                <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
              </svg>  
                
        </div>
    </div>
    <div class="w-full max-w-xs bg-fondo rounded-3xl border-2 border-red-500 ">
        <div class="flex flex-col justify-center items-center p-10">
            <img class="w-24 h-24 mb-6 rounded-full border-2 border-primary shadow-lg" src="./../../../assets/chacas.jpg" />
            <h5 class="mb-2 text-terceary text-xl font-bold font-Battambang">Adriana Quijano Saavedra</h5>
            <span class="mb-8 text-primary text-xl font-normal font-Battambang">Diseñadora UX/UI</span>
            <svg class="w-6 h-6 text-terceary text-opacity-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
                <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
              </svg>  
                
        </div>
    </div>
</div> 
</div>
  
    <!-- Footer -->
<div><app-footer></app-footer></div>
</div>  