

<!-- HEADER -->
  <div class="w-full h-[70vh] bg-cover" style="background-image: url('./../../../assets/chacas.jpg')">
        <div class="w-full h-full bg-terceary flex flex-col gap-10 md:gap-8 justify-start items-center bg-opacity-50">
            <div class="nav-header p-5 h-24 w-full">
                <app-navar></app-navar>
            </div>
            <div class="w-fit h-fit flex flex-col text-center m-10 gap-10">
                <div class="text-fondo  text-xl md:text-4xl font-normal font-['Battambang']">
                    Bienvenido a Mis Pueblitos 
                </div>
                <div class="text-fondo text-5xl md:text-6xl font-extrabold font-['Montserrat'] uppercase">
                    Donde celebramos la belleza y la diversidad de los pueblos del Perú
                </div>
            </div>
        </div>
    </div>
     <!-- Que es mi pueblitos-->
     <div class="flex md:m-40 m-8 flex-col text-center gap-8">
        <h1 class="text-secondary text-3xl font-extrabold ">CONOCE SOBRE NOSOTROS</h1>
        <p class="text-normal">Conoce lo que hay detras de mis pueblitos</p>
    <div class="flex  rounded-3xl items-center flex-col">
     <div class="flex flex-col md:flex-row w-full h-fit font-['Battambang']">
        <div class="flex flex-col w-1/2 h-96 p-10 md:p-20 gap-10 bg-primary text-center text-fondo">
            <h1 class="text-2xl font-extrabold ">¿QUE ES MI PUEBLITOS?</h1>
            <p class="text-base font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, laboriosam maxime asperiores recusandae magni ab facere similique nesciunt! Eaque dolorem voluptas reprehenderit, ducimus quis aspernatur minima voluptate necessitatibus quibusdam maiores.</p>
        </div>
        <img class="w-1/2 h-96" src='./../../../assets/chacas.jpg' />
    </div>
    <div class="flex flex-col md:flex-row w-full h-fit font-['Battambang']">
        <img class="w-1/2 h-96" src='./../../../assets/chacas.jpg' />
        <div class="flex flex-col w-1/2 h-96 p-10 md:p-20 gap-10 bg-secondary text-center text-fondo">
            <h1 class="text-2xl font-extrabold ">¿CUAL ES NUESTRO OBJETIVO?</h1>
            <p class="text-base font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, laboriosam maxime asperiores recusandae magni ab facere similique nesciunt! Eaque dolorem voluptas reprehenderit, ducimus quis aspernatur minima voluptate necessitatibus quibusdam maiores.</p>
        </div>
    </div>
   </div> 
</div>

     <!-- Team -->
        <div class="flex flex-col items-center text-center justify-center m-8 gap-8 md:m-20">
            <h1 class="text-secondary text-3xl font-extrabold ">Que es mi pueblitos</h1>
            <p class="text-normal">Conoce al equipo apasionado detrás de Mis Pueblitos</p>
           <!-- CARD -->
      <div class="card flex flex-col md:flex-row gap-8"> 
        <div class="w-full max-w-xs bg-fondo rounded-3xl border-2 border-red-500 flex-col justify-center items-center shadow">
    <div class="flex flex-col justify-center items-center p-10">
        <img class="w-24 h-24 mb-6 rounded-full border-2 border-primary shadow-lg" src="./../../../assets/chacas.jpg" />
        <h5 class="mb-2 text-terceary text-2xl font-bold font-['Battambang']">Ariana Obregón</h5>
        <span class="mb-8 text-primary text-xl font-normal font-['Battambang'] ">Cargo</span>
        <svg class="w-6 h-6 text-terceary text-opacity-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
            <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
          </svg>  
            
    </div>
</div>
<div class="w-full max-w-xs bg-fondo rounded-3xl border-2 border-red-500 flex-col justify-center items-center shadow">
    <div class="flex flex-col justify-center items-center p-10">
        <img class="w-24 h-24 mb-6 rounded-full border-2 border-primary shadow-lg" src="./../../../assets/chacas.jpg" />
        <h5 class="mb-2 text-terceary text-2xl font-bold font-['Battambang']">Ariana Obregón</h5>
        <span class="mb-8 text-primary text-xl font-normal font-['Battambang'] ">Cargo</span>
        <svg class="w-6 h-6 text-terceary text-opacity-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
            <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
          </svg>  
            
    </div>
</div>
<div class="w-full max-w-xs bg-fondo rounded-3xl border-2 border-red-500 flex-col justify-center items-center shadow">
    <div class="flex flex-col justify-center items-center p-10">
        <img class="w-24 h-24 mb-6 rounded-full border-2 border-primary shadow-lg" src="./../../../assets/chacas.jpg" />
        <h5 class="mb-2 text-terceary text-2xl font-bold font-['Battambang']">Ariana Obregón</h5>
        <span class="mb-8 text-primary text-xl font-normal font-['Battambang'] ">Cargo</span>
        <svg class="w-6 h-6 text-terceary text-opacity-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
            <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
          </svg>  
            
    </div>
</div>
<div class="w-full max-w-xs bg-fondo rounded-3xl border-2 border-red-500 flex-col justify-center items-center shadow">
    <div class="flex flex-col justify-center items-center p-10">
        <img class="w-24 h-24 mb-6 rounded-full border-2 border-primary shadow-lg" src="./../../../assets/chacas.jpg" />
        <h5 class="mb-2 text-terceary text-2xl font-bold font-['Battambang']">Ariana Obregón</h5>
        <span class="mb-8 text-primary text-xl font-normal font-['Battambang'] ">Cargo</span>
        <svg class="w-6 h-6 text-terceary text-opacity-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
            <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
          </svg>  
            
    </div>
</div>
</div> 

</div>
        



    <!-- Footer -->
<div><app-footer></app-footer></div>
