<nav class=" border-gray-200 bg-transparent">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a class="flex items-center space-x-3 rtl:space-x-reverse">
            <img routerLink="/home" src="./assets/Logo.png" class="h-12 cursor-pointer" alt="Mis Pueblitos Logo" />

        </a>

        <div class="flex items-center md:order-2 gap-2 md:gap-4 space-x-1 md:space-x-0 rtl:space-x-reverse">
            <!-- <button type="button" (click)="goToRevistas()"
                class="block bg-primary hover:bg-red-600 w-fit md:w-fit text-fondo text-base font-normal py-3 px-4 rounded-xl">
                Revistas
            </button>-->
            <button type="button" (click)="goToBlogTuristico()" class="block bg-primary hover:bg-red-600 w-fit md:w-fit text-fondo text-base font-normal py-3 px-4 rounded-xl">
                Blog Turístico
            </button>
            <button type="button" (click)="goToAbout()" class="block bg-primary hover:bg-red-600 w-fit md:w-fit text-fondo text-base font-normal py-3 px-4 rounded-xl">
                Nosotros
            </button>

            <!-- <button *ngIf="!isLoged" type="button" (click)="goToLogin()" class="block bg-primary hover:bg-red-600 w-fit md:w-fit text-fondo text-base font-normal py-3 px-4 rounded-xl">
                INGRESAR
            </button>
            <button *ngIf="!isLoged" type="button" (click)="goToRegister()" class="block bg-primary hover:bg-red-600 w-fit md:w-fit text-fondo text-base font-normal py-3 px-4 rounded-xl">
                REGISTRAR
            </button> -->


            <div class="flex items-center" *ngIf="isLoged">
                <button id="dropdownUserAvatarButton" (click)="menu.toggle($event)" class="relative p-1 rounded-full border border-gray-300 hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-500 transition-all duration-200 ease-in-out" [ngClass]="{'ring-2 ring-primary-500': menu.overlayVisible}">
                    <img src="https://img.freepik.com/foto-gratis/retrato-joven-cabello-rizado-cerca_176532-8156.jpg?t=st=1727620188~exp=1727623788~hmac=85b290b08ba2d5bf439b2103d218ce83e817d41e612b0dd3029629575108ec00&w=826"
                        alt="User Avatar" class="w-8 h-8 rounded-full object-cover">
                    <span class="sr-only">Open user menu</span>
                </button>

                <p-menu #menu [model]="items" [popup]="true" appendTo="body" [showTransitionOptions]="'0.12s cubic-bezier(0, 0, 0.2, 1)'" [hideTransitionOptions]="'0.1s linear'" (onItemClick)="handleMenuClick($event)">
                </p-menu>




            </div>

        </div>

    </div>
</nav>