<!-- HEADER -->
<div class="flex flex-col h-fit items-center w-full bg-fondo">
  <div class="w-full h-fit bg-center bg-cover"
    style="background-image: url('https://images.unsplash.com/photo-1545330785-15356daae141?q=80&w=1590&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
    <div class="w-full h-full bg-terceary flex flex-col justify-start items-center bg-opacity-50">
      <div class="nav-header p-5 h-fit w-full">
        <app-navar></app-navar>
      </div>
      <div
        class="w-fit h-fit flex flex-col text-center mx-4 mt-10  mb-20 md:mx-8 md:my-20 lg:mx-20 lg:my-40 xl:mx-40 xl:my-30 gap-6 md:gap-10">
        <div class="Bienvenido">
          <span class="text-fondo text-xl md:text-4xl font-normal font-['Battambang']">Bienvenido a
          </span>
          <span class="text-primary text-xl md:text-4xl font-normal font-['Battambang']">Mis Pueblitos</span>
        </div>
        <div class="p-2 py-4 md:px-10 text-fondo text-2xl md:text-4xl  font-extrabold font-['Montserrat'] uppercase">
          Tu sitio ideal para conocer mas sobre los pueblitos mágicos en el Perú
        </div>
      </div>
    </div>
  </div>

  <!-- BUSCADOR -->
  <form [formGroup]="searchValueForm" (submit)="search_lugar(searchValueForm.value)"
    class="relative transform bottom-20 bg-fondo w-fit h-fit border p-6 rounded-3xl shadow justify-start items-center gap-6 lg:gap-10 flex font-['Battambang'] flex-col md:flex-row">
    <div class="Departamento">
      <label for="department" class="block text-neutral-900 text-opacity-50 text-base font-normal">Departamentos</label>

      <select id="department" formControlName="departamentoId" (ngModelChange)="
          load_list_lugar(searchValueForm.get('departamentoId').value)
        "
        class="w-72 h-16 p-5 rounded-3xl border border-neutral-900 justify-start items-center gap-2.5 text-primary text-base font-bold focus:ring-red-500 focus:border-red-500">
        <option value="" disabled>Seleccione un Departamento</option>
        <option *ngFor="let item of list_department" [value]="item.id">
          {{ item.nombre }}
        </option>
      </select>
    </div>
    <div class="Pueblo">
      <label for="lugar" class="block text-neutral-900 text-opacity-50 text-base font-normal">Pueblos</label>
      <select id="lugar" formControlName="lugarId"
        class="w-72 h-16 p-5 rounded-3xl border border-neutral-900 justify-start items-center gap-2.5 text-primary text-base font-bold focus:ring-red-500 focus:border-red-500">
        <option value="" disabled>Seleccione un Pueblo</option>
        <option *ngFor="let item of list_lugares" [value]="item.id">
          {{ item.nombre }}
        </option>
      </select>
    </div>
    <button type="submit"
      class="w-full xl:w-fit h-20 p-5 bg-primary rounded-2xl justify-center items-center gap-4 inline-flex text-fondo text-xl font-normal hover:bg-red-600">
      <svg class="w-6 h-6 text-fondo dark:text-fondo" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
          d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
      </svg>
      <span class="md:hidden lg:block">Buscar</span>
    </button>
  </form>
</div>
<!-- LOS MAS BUSCADOS -->
<!-- @if (list_pueblitos_encontrados.length > 0) {
<div class="p-20 pt-0 bg-fondo">
    <h1 class="text-center text-xl font-bold text-secondary">Destinos</h1><br>

    <p-carousel [value]="list_pueblitos_encontrados" [numVisible]="4" [numScroll]="2" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-item pTemplate="item">
            <div routerLink="/pueblitos"
                class="border-1 surface-border border-round m-2 text-center md:mx-5 rounded-lg">
                <div class="global-center">
                    <div class="buscadosCard w-80 h-96 rounded-3xl bg-cover  flex justify-start items-end"
                        style="background-image: url('{{item.foto}}')">
                        <div
                            class="w-full h-40 p-5 bg-gradient-to-t from-terceary rounded-3xl flex justify-start items-end text-fondo">
                            {{item.nombre}}
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>

</div>
}
 -->






<!-- LOS MAS BUSCADOS -->



<div class="p-6 md:p-20 pt-0 md:pt-0 bg-fondo font-Battambang">
  <h1 class="text-center text-4xl font-extrabold text-secondary">
    Los más buscados
  </h1>
  <br />
  <swiper-container init="false">
    <swiper-slide *ngFor="let item of more_search">
      <div (click)="goToRoute(item)" class="border-1 surface-border border-round m-2 text-center md:mx-5 rounded-lg">
        <div class="global-center">
          <div class="buscadosCard w-60 md:w-80 h-96 rounded-3xl bg-cover bg-center flex justify-start items-end" style="
          background-image: url({{item.foto.url}})">
            <div
              class="w-full h-40 p-5 bg-gradient-to-t from-terceary rounded-3xl flex justify-start items-end text-fondo">
              {{ item.nombre }}
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="mt-2 flex items-center justify-center">
    <button type="button"
      class="swiper-button-prev text-primary font-bold bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300  rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd"
          d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
          clip-rule="evenodd" />
      </svg>


      <span class="sr-only">Icon description</span>
    </button>

    <button type="button"
      class="swiper-button-next text-primary font-bold bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300  rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd"
          d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
          clip-rule="evenodd" />
      </svg>

      <span class="sr-only">Icon description</span>
    </button>
  </div>


</div>

<app-modal-redes-sociales></app-modal-redes-sociales>
<!-- Footer -->
<div><app-footer></app-footer></div>