<div class="content my-8">
  <hr class="h-px my-2 md:my-4 bg-white border-0" />

  <!-- ------------- TITLESS AGENCIA ---------------  -->
  <div>
    <div class="flex">
      <div>
        <h3 class="title pr-2">
          {{ agenciaView.nombre }}
        </h3>
      </div>
      <!-- ESTRELLAS  -->
      <div class="flex items-center">
        @for (item of [1,2,3,4,5]; track $index) {

        <svg class="w-4 h-4 {{item <= agenciaView.estrellas ? 'text-yellow-300' : 'text-gray-300'}} ms-1"
          aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
        </svg>
        }
      </div>
    </div>
    <div class="flex items-center justify-between md:justify-start">
      <h3 class="text-description">
        {{ agenciaView.direccion }}
      </h3>
      <div class="flex items-center justify-center text-primary px-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd"
            d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            clip-rule="evenodd" />
        </svg>
        <a class="text-xs">Ver Mapa</a>
      </div>
    </div>
  </div>

  <hr class="h-px my-2 md:my-4 bg-white border-0" />
  <!-- // --------------- GALLERY  --------------- \\ -->
  <!-- <div class="mx-10">
    <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
      thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
      @for (item of get_Keys(dtoHotelInfo?.fotos?.gallery); track $index) {
      <swiper-slide>
        <div>
          <img src="{{dtoHotelInfo.fotos.gallery[item]}}" class="h-56 w-56 max-w-full rounded-lg" alt="">
        </div>
      </swiper-slide>
      }
    </swiper-container>

    <swiper-container class="mySwiper2" space-between="10" slides-per-view="4" free-mode="true"
      watch-slides-progress="true">
      @for (item of get_Keys(dtoHotelInfo?.fotos?.gallery); track $index) {
      <swiper-slide>
        <div>
          <img src="{{dtoHotelInfo.fotos.gallery[item]}}" class="h-24 w-24 max-w-full rounded-lg" alt="">
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div> -->
  <div class="md:mx-10">
    <swiper-container style="
        --swiper-navigation-color: #f33535;
        --swiper-pagination-color: #f33535;
      " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true" slides-per-view="3">
      @for (item of agenciaView?.fotos?.gallery; track $index) {
      <swiper-slide>
        <div>
          <img src="{{item}}" class="h-60 w-60 max-w-full rounded-lg" alt="" />
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>

  <hr class="h-px my-1 md:my-2 bg-white border-0" />
  <!-- // --------------- REDES AND CONTACT  --------------- \\ -->

  <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />

  <div class="flex flex-col gap-8 md:gap-12">

    <!-- // --------------- DESCRIPCION - MISION VISION  --------------- \\ -->
    <div class="flex flex-col gap-4 md:gap-8">
      <h2 class="subtitle">Descripción</h2>
      <p>{{agenciaView.descripcion}}</p>
      <div class="flex flex-row">
        <div class="flex flex-col">
          <span>Mision</span>
          <p>{{agenciaView.mision}}</p>
        </div>
        <div class="flex flex-col">
          <span>Vision</span>
          <p>{{agenciaView.vision}}</p>
        </div>
      </div>
    </div>

    <!-- // --------------- EQUIPOS Y GUIAS TURISTICOS  --------------- \\ -->
    <div class="flex flex-col gap-4 md:gap-8">
      <h2 class="subtitle">Equipo y Guias Turísticos</h2>
      <p>{{agenciaView.equipo}}</p>
    </div>

    <!-- // --------------- INFORMACIÓN ADICIONAL  --------------- \\ -->
    <div class="flex flex-col gap-4 md:gap-8">
      <h3 class="subtitle">Información adicional</h3>
      <ul class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
        @for(item of agenciaView.infoAdicional; track $index){
        <li class="text-description text-justify md:pr-2 pb-1">
          <strong>{{item.name }}:</strong>
          <span>{{item.desc }}</span>
        </li>
        }
      </ul>
    </div>

    <!-- // --------------- TOURS y EXPERIENCIAS  --------------- \\ -->
    <div class="flex flex-col gap-4 md:gap-8">
      <h3 class="subtitle">Tours y Experiencias</h3>
      <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 justify-center items-center gap-8">
        @for (item of agenciaView.tours; track $index) {
        <!--  <swiper-slide> -->
        <div (click)="gotoTour(item.name_route)"
          class="bg-fondo border col-span-1 w-fit border-terceary rounded-3xl shadow overflow-hidden cursor-pointer">
          <a>
            <img class="rounded-t-lg" src="{{ item?.fotos?.principal }}" alt="" />
          </a>
          <div class="p-4 flex flex-col items-start gap-2">
            <h5 class="text-xl font-bold font-Battambang leading-normal text-secondary">
              {{ item.nombre }}
            </h5>
            @if (item.flagTipeTour != 'EXPE' ) {
            <div class="flex justify-start items-start gap-6">
              <div class="flex text-base justify-start items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M2 19v-6q0-.675.275-1.225T3 10.8V8q0-1.25.875-2.125T6 5h4q.575 0 1.075.213T12 5.8q.425-.375.925-.587T14 5h4q1.25 0 2.125.875T21 8v2.8q.45.425.725.975T22 13v6h-2v-2H4v2zm11-9h6V8q0-.425-.288-.712T18 7h-4q-.425 0-.712.288T13 8zm-8 0h6V8q0-.425-.288-.712T10 7H6q-.425 0-.712.288T5 8z" />
                </svg>
                <span>1</span>
              </div>
              <div class="flex text-base justify-start items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24">
                  <circle cx="12" cy="6" r="4" fill="currentColor" />
                  <path fill="currentColor"
                    d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5" />
                </svg>
                <span>2</span>
              </div>
            </div>
            }

            <p class="font-base font-bold text-primary">
              S/. {{ item.precio }} / noche
            </p>
          </div>
        </div>

        }

      </div>

    </div>
  </div>
</div>