<nav class="hidden md:flex font-Battambang font-bold " aria-label="Breadcrumb">
    <ol class="inline-flex items-center">
        <ng-container class="w-full" *ngFor="let breadcrumb of breadcrumbs; let last = last">

            <p class="inline-flex px-2 items-center text-sm font-extrabold text-terceary  capitalize">
                /
            </p>

            <a (click)="goToRoute(breadcrumb)"
                class="inline-flex items-center text-sm {{last ? 'font-extrabold':'font-bold'}} text-terceary {{last ? '':'text-opacity-50'}} hover:text-primary capitalize">
                {{ breadcrumb }}
            </a>
        </ng-container>
    </ol>
</nav>
<nav class=" md:hidden font-Battambang font-bold overflow-x-auto py-2" aria-label="Breadcrumb">
    <ol class="inline-flex items-center">
        <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last;let index = index">
            @if (last ||  index === breadcrumbs.length - 2) {
            <p class="inline-flex px-2 items-center text-sm font-extrabold text-terceary  capitalize">
                /
            </p>

            <a  (click)="goToRoute(breadcrumb)"
                class="leading-3 text-center inline-flex items-center text-sm {{last ? 'font-extrabold':'font-bold'}} text-terceary {{last ? '':'text-opacity-50'}} hover:text-primary capitalize">
                {{ breadcrumb }}
            </a>
            }

        </ng-container>
    </ol>
</nav>