<nav class="flex font-Battambang font-bold" aria-label="Breadcrumb">
    <ol class="inline-flex items-center">
        <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">

            <p
                class="inline-flex px-2 items-center text-sm font-extrabold text-terceary  capitalize">
                /
            </p>
           
            <a (click)="goToRoute(breadcrumb)"
                class="inline-flex items-center text-sm {{last ? 'font-extrabold':'font-bold'}} text-terceary {{last ? '':'text-opacity-50'}} hover:text-primary capitalize">
                {{ breadcrumb }}
            </a>
        </ng-container>
    </ol>
</nav>