<div class="flex flex-col gap-12">
<div class="searchs flex flex-col gap-4 bg-fondo mt-5">
    <h3 class="text-secondary text-xl md:text-2xl font-black font-Battambang leading-6">
        Atractivos turísticos
    </h3>
    <p class="text-terceary text-xs md:text-sm text-justify font-normal font-Battambang leading-normal">
    ¡Descubre los encantos de nuestros destinos turísticos! Sumérgete en la diversidad natural y cultural mientras exploras los atractivos turísticos que tenemos para ofrecerte. Desde majestuosas montañas hasta exuberantes selvas, cada lugar te invita a vivir experiencias únicas. Déjate maravillar por antiguas ruinas, embárcate en emocionantes aventuras al aire libre y sumérgete en la riqueza cultural de nuestras comunidades locales. ¡Prepárate para una aventura inolvidable mientras descubres los secretos mejor guardados de nuestros destinos turísticos!
    </p>
</div>

<div class="flex w-full justify-between">
    <div>
        <form class="max-w-xl mx-auto">
          <select id="countries" class="bg-fondo border border-terceary text-terceary text-sm rounded-2xl focus:ring-primary focus:border-primary  gap-2 text-left inline-flex px-6 py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="" selected> Todos </option>
            <option value=""> Culturales </option>
            <option value=""> Naturales </option>
            <option value=""> Arquitectónicos </option>
            <option value=""> Artísticos </option>
            <option value=""> Entretenimiento </option>
          </select>
        </form>
      </div>
      <div>
        <form class="max-w-xl mx-auto">
          <select id="countries" class="bg-fondo border border-terceary text-terceary text-sm rounded-2xl focus:ring-primary focus:border-primary  gap-2 text-left inline-flex px-6 py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="" selected> Mas populares primero </option>
        </select>
        </form>
      </div>
</div>
<div class="grid grid-col-2 md:grid-cols-4 gap-5">
  @for (item of list_resultadoBusqueda; track $index) {
    <div (click)="gotoAtractivoTuristico(item)"
      class="max-w-sm bg-fondo border border-terceary rounded-3xl shadow overflow-hidden cursor-pointer">
      <a>
        <img class="rounded-t-lg w-full" src="{{item.fotos.principal.url}}" alt="" />
      </a>
      <div class="p-4 flex flex-col gap-2">
        <h5 class="text-xl font-bold font-Battambang leading-normal text-secondary">
          {{ item.nombre }}
        </h5>
        <h5 class="text-xl font-bold font-Battambang leading-normal text-primary">
          {{ item.precio ==0 ? 'Gratis' : 'S/. ' + item.precio }}
        </h5>
        <div class="flex flex-col items-start justify-start">
          <div class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
              <path fill-rule="evenodd"
                d="M5.25 2.25a3 3 0 0 0-3 3v4.318a3 3 0 0 0 .879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 0 0 5.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 0 0-2.122-.879H5.25ZM6.375 7.5a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"
                clip-rule="evenodd" />
            </svg>
            {{item.tags}}
          </div>
        </div>
      </div>
    </div>
    }
</div>
</div>