<div class="flex flex-col gap-12">
<div class="searchs flex flex-col gap-4 bg-fondo mt-5">
    <h3 class="text-secondary text-xl md:text-2xl font-black font-Battambang leading-6">
        Atractivos turísticos
    </h3>
    <p class="text-terceary text-xs md:text-sm text-justify font-normal font-Battambang leading-normal">
    ¡Descubre los encantos de nuestros destinos turísticos! Sumérgete en la diversidad natural y cultural mientras exploras los atractivos turísticos que tenemos para ofrecerte. Desde majestuosas montañas hasta exuberantes selvas, cada lugar te invita a vivir experiencias únicas. Déjate maravillar por antiguas ruinas, embárcate en emocionantes aventuras al aire libre y sumérgete en la riqueza cultural de nuestras comunidades locales. ¡Prepárate para una aventura inolvidable mientras descubres los secretos mejor guardados de nuestros destinos turísticos!
    </p>
</div>

<div class="flex w-full justify-between">
    <div>
        <form class="max-w-xl mx-auto">
          <select id="countries" class="bg-fondo border border-terceary text-terceary text-sm rounded-2xl focus:ring-primary focus:border-primary  gap-2 text-left inline-flex px-6 py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="" selected> Todos </option>
            <option value=""> Culturales </option>
            <option value=""> Naturales </option>
            <option value=""> Arquitectónicos </option>
            <option value=""> Artísticos </option>
            <option value=""> Entretenimiento </option>
          </select>
        </form>
      </div>
      <div>
        <form class="max-w-xl mx-auto">
          <select id="countries" class="bg-fondo border border-terceary text-terceary text-sm rounded-2xl focus:ring-primary focus:border-primary  gap-2 text-left inline-flex px-6 py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="" selected> Mas populares primero </option>
        </select>
        </form>
      </div>
</div>
</div>