@if (loading) {
    <h1>LOADING</h1>
    } @else {
    <h1>{{hotel.nombre}}</h1>
    <span>Descripción</span>
    <p>{{hotel.descripcion}}</p>
    <div class="flex flex-row gap-4">
      <div class="flex flex-col gap-4">
        <span>Datos de Contacto</span>
        @for ( item of hotel.contactos.datos; track item.tipo) {
        <div class="flex flex-col gap-4">
          <span class="text-secondary text-md font-bold tracking-tight">{{item.tipo}}</span>
          <span class="text-[#29252C] text-xs md:text-sm">{{item.valor}}</span>
        </div>
        }
      </div>
      <div class="flex flex-col gap-4">
        <span>Redes Sociales</span>
        @for ( item of hotel.contactos.redes_sociales; track item.tipo) {
        <div class="flex flex-col gap-4">
          <span class="text-secondary text-md font-bold tracking-tight">{{item.tipo}}</span>
          <span class="text-[#29252C] text-xs md:text-sm">{{item.valor}}</span>
        </div>
        }
      </div>
    </div>
    
    <div class="mt-5">
      <span class="text-2xl">Que te ofrecemos</span>
      <div class="grid grid-cols-2 gap-4">
        @for (item of hotel.servicios.servicios; track item.servicio) {
        <div class="flex flex-col gap-4">
          <span class="text-[#29252C] text-xs md:text-sm">{{item.servicio}}</span>
          <span class="text-[#29252C] text-xs md:text-sm">{{item.descripcion}}</span>
        </div>
        }
      </div>
    </div>
    
    <div class="mt-5">
      <span class="text-2xl">Que te ofrecemos</span>
      <div class="grid grid-cols-2 gap-4">
        @for (item of hotel.habitaciones; track item.id) {
        <div (click)="gotoHabitacion(hotel.name_route,item.name_route)" class="flex bg-slate-500 flex-col gap-4">
          <span class="text-[#29252C] text-xs md:text-sm">{{item.nombre}} - {{item.hotelNombre}}</span>
          <span class="text-[#29252C] text-xs md:text-sm">camas: {{item.camas}}</span>
          <span class="text-[#29252C] text-xs md:text-sm">personas: {{item.personas}}</span>
          <span class="text-[#29252C] text-xs md:text-sm">desde S/.{{item.precio}}/noche</span>
        </div>
        }
      </div>
    </div>
    
    }
    