<div class="content font-Battambang">
  <hr class="h-px my-2 md:my-4 bg-white border-0" />

  <!-- TITLESS  -->
  <div>
    <h3 class="title pr-2">
      {{ tourView.nombre }}
    </h3>
    <div class="flex">
      <div>
        <h3 class="subtitle pr-2">
          {{ tourView.agencia.nombre }}
        </h3>
      </div>

      <!-- <div class="flex items-center">
        @for (item of [1,2,3,4,5]; track $index) {
        <svg class="w-4 h-4 {{item <= tourView.agencia?.estrellas ? 'text-yellow-300': 'text-gray-300' }} ms-1"
          aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path
            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
        </svg>
        }
      </div> -->

      <div>
        <a (click)="gotoAgencia()" class="text-xs px-2 text-primary cursor-pointer">Ver Perfil</a>
      </div>
    </div>
  </div>

  <hr class="h-px my-2 md:my-4 bg-white border-0" />

  <!-- // --------------- GALLERY  --------------- \\ -->
  <div class="grid grid-cols-4 gap-3">
    <div class="col-span-4 xl:col-span-3 ">
      <swiper-container id="infoPhotos" init="false">
        <swiper-slide *ngFor="let item of tourView?.fotos?.gallery">
          <div class="border-1 surface-border border-round text-center md:mx-5 rounded-lg">
            <div class="global-center">
              <div
                class="buscadosCard w-full h-56 md:h-[80vh] rounded-xl bg-cover bg-center flex justify-start items-end"
                style="
              background-image: url({{item}})">
                <div class="w-full h-40 p-5  rounded-3xl flex justify-start items-end text-fondo">
                  <!-- {{ item.nombre }} -->
                </div>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>

      <div class="mt-2 flex items-center justify-center">
        <button type="button"
          class="swiperinfoPhotos-button-prev text-primary font-bold bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300  rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 ">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
              clip-rule="evenodd" />
          </svg>


          <span class="sr-only">Icon description</span>
        </button>

        <button type="button"
          class="swiperinfoPhotos-button-next text-primary font-bold bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300  rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 ">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
              clip-rule="evenodd" />
          </svg>

          <span class="sr-only">Icon description</span>
        </button>
      </div>

    </div>
    <div class="col-span-4 xl:col-span-1 ">
      <div class="w-full static-reserve">
        <div class="bg-white border p-2 border-primary rounded-xl shadow-lg">
          <div class="hidden md:flex col-span-2 pb-2">
            <h1 class="text-secondary font-bold">Detalles </h1>
          </div>
          <div class="grid grid-cols-2 gap-2">
            <div class="col-span-1 lg:col-span-2 flex items-center gap-2">
              <div class="w-7 h-7 p-1.5 bg-primary text-white rounded-full justify-center items-center inline-flex">
                <a target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd"
                      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
                      clip-rule="evenodd" />
                  </svg>

                </a>
              </div>
              <div>{{ tourView.duracion }}</div>
            </div>

            <div class="col-span-1 lg:col-span-2  flex items-center gap-2">
              <div class="w-7 h-7 p-1.5 bg-primary text-white rounded-full justify-center items-center inline-flex">
                <a target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 16 16" fill="none">
                    <path
                      d="M8.00065 6.66658C9.47341 6.66658 10.6673 5.47268 10.6673 3.99992C10.6673 2.52716 9.47341 1.33325 8.00065 1.33325C6.52789 1.33325 5.33398 2.52716 5.33398 3.99992C5.33398 5.47268 6.52789 6.66658 8.00065 6.66658Z"
                      fill="#FEFBFB" />
                    <path
                      d="M13.3327 11.6665C13.3327 13.3232 13.3327 14.6665 7.99935 14.6665C2.66602 14.6665 2.66602 13.3232 2.66602 11.6665C2.66602 10.0098 5.05402 8.6665 7.99935 8.6665C10.9447 8.6665 13.3327 10.0098 13.3327 11.6665Z"
                      fill="#FEFBFB" />
                  </svg>
                </a>
              </div>
              {{tourView.minPerson}} - {{tourView.maxPerson}} Personas
            </div>

            <div class="col-span-1 lg:col-span-2 flex items-center gap-2 font-bold justify-center">
              Precio: S/.{{ tourView.precio }} c/u
            </div>
            <div class="col-span-1 lg:col-span-2 flex items-center justify-center">
              <div #googleCalendarButton></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="h-px my-2 md:my-4 bg-white border-0" />
  <!-- // --------------- DESCRIPTION   --------------- \\ -->
  <div class="md:flex">
    <div class="flex flex-col gap-8 md:gap-12 w-full">
      <div class="flex flex-col gap-4 md:gap-8">
        <h3 class="subtitle">Descripción</h3>
        <h3 class="text-description text-justify md:pr-2">
          {{ tourView.descripcion }}
        </h3>
      </div>

      <!-- // --------------- DESTINOS  --------------- \\ -->

      <div class="flex flex-col gap-4 md:gap-8">
        <h3 class="subtitle">Destinos</h3>
        <div class="grid grid-cols-3 gap-4">
          <div class="col-span-2 grid grid-cols-3 gap-4 md:px-2">
            @for (item of tourView.destinos; track $index) {
            <div class="col-span-3 md:col-span-3 flex items-center gap-2 self-stretch">
              <div>
                <div class="w-7 h-7 p-1.5 bg-primary text-white rounded-full justify-center items-center inline-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd"
                      d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                      clip-rule="evenodd" />
                  </svg>
                </div>
              </div>
              <div>
                <h3 class="text-description font-bold md:pr-2 capitalize">
                  {{ item.name }}
                </h3>
                <h3 class="text-description text-justify md:pr-2">
                  {{item.desc}}
                </h3>
              </div>
            </div>

            }
          </div>
          <!-- <div class="">
            <swiper-container style="--swiper-navigation-color: #f33535;--swiper-pagination-color: #f33535;"
              centered-slides="true" class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true"
              slides-per-view="2">
              @for (item of tourView.destinos; track $index) {
              <swiper-slide>
                <div>
                  <img src="{{ item.photo }}" class="h-36 w-36 max-w-full rounded-lg" alt="" />
                </div>
              </swiper-slide>
              }
            </swiper-container>
          </div> -->
        </div>
      </div>

      <!-- // --------------- ITINERARIO  --------------- \\ -->
      <div class="flex flex-col gap-4 md:gap-8">
        <h3 class="subtitle">Itinerario</h3>
        @for(itinerario of tourView.itinerary; track $index){
        <div class="flex flex-col gap-4 px-2 text-description text-justify">
          <strong class="pl-1">{{ itinerario.title }}:</strong>
          <ul class="list-disc list-inside">
            @for(actividad of itinerario.detail; track $index){
            <li class="pl-2">{{ actividad.desc}}</li>
            }
          </ul>
        </div>

        }
      </div>

      <!-- (( ------------- QUE INCLUYE)) ---------------  -->
      <div class="flex flex-col gap-4">
        <h3 class="subtitle">Que Incluye</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:gap-8 px-2 text-description">
          <ul>
            @for(item of tourView.includes; track $index){
            <li class="flex flex-row mt-4">
              <div class="w-6 h-6 p-1.5 bg-green-600 text-white rounded-full justify-center items-center inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                </svg>
              </div>
              <span class="px-2 leading-4 text-justify">{{ item.desc }}</span>
            </li>
            }
          </ul>
          <ul>
            @for(item of tourView.notIncludes; track $index){
            <li class="flex flex-row mt-4">
              <div class="w-6 h-6 p-1.5 bg-primary text-white rounded-full justify-center items-center inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </div>
              <span class="px-2 leading-4 text-justify">{{ item.desc }}</span>
            </li>
            }
          </ul>
        </div>
      </div>

      <!-- ------------ RECOMENDACIONES ---------------  -->
      <div class="flex flex-col gap-4 md:gap-8">
        <h3 class="subtitle">Recomendaciones</h3>
        <ul class="list-disc list-inside flex flex-col gap-4 px-2 text-description">
          @for(item of tourView.recomendations; track $index){
          <li class="pl-2">{{ item.desc }}</li>
          }
        </ul>
      </div>

      <!-- // --------------- INFORMACIÓN ADICIONAL  --------------- \\ -->
      <div class="flex flex-col gap-4 md:gap-8">
        <h3 class="subtitle">Información adicional</h3>
        <ul class="space-y-1 text-terceary list-disc list-inside text-description px-2">
          @for (item of tourView.infoAdicional; track $index) {
          <li class=" text-justify md:pr-2 pb-1 ">
            <b>{{item.name}}: </b> {{item.desc}}
          </li>
          }
        </ul>
      </div>


      <!-- // --------------- MAS NEGOCIOS RELACIONADOS  --------------- \\ -->
      @if (tourView.moreBussines.length > 0) {
      <div class="flex flex-col gap-4 md:gap-8">
        <h3 class="subtitle">Más negocios relacionados</h3>

        <div>
          <swiper-container id="infoMoreBussines" init="false" class="flex items-center justify-center">
            @for (item of tourView.moreBussines; track $index) {
            <swiper-slide>
              <div (click)="gotoNegocio(item)" class="bg-fondo border border-terceary rounded-3xl shadow overflow-hidden cursor-pointer">
                <div class="relative">
                  <img class="rounded-t-lg w-full h-48" src="{{ item?.fotos?.principal }}" alt="" />
                  <div [ngClass]="{
                    'bg-orange-400': item.tipo === 'REST',
                    'bg-green-400': item.tipo === 'TOUR',
                    'bg-red-400': item.tipo === 'HOSP'
                  }"
                    class="absolute capitalize top-0 right-0 text-white text-xs px-2 py-1 m-2 rounded-bl-lg font-Battambang">
                    {{ item.tipo === 'REST' ? 'Restaurante' : (item.tipo === 'TOUR' ? 'Experiencia' : (item.tipo ===
                    'HOSP' ? 'Hospedaje' : item.tipo)) | lowercase}}

                  </div>
                </div>
                <div class="min-h-28 p-4 flex flex-col items-start gap-2">
                  <h5 class="text-xl font-bold font-Battambang leading-5 text-secondary">
                    {{ item.nombre }}
                  </h5>
                  @if (item.precio) {
                  <h5 class="text-sm font-bold font-Battambang leading-5 text-primary">
                    S/.{{ item.precio }}
                  </h5>
                  }
                </div>
              </div>
            </swiper-slide>
            }
          </swiper-container>

        </div>

      </div>
      }
    </div>


  </div>



  <hr class="h-px my-2 md:my-4 bg-white border-0" />
</div>
<br />


<!-- <iframe
src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ39SoK7uLrHc0LgCZHY1BrMfS4-K4Ok5HuryGgwm6sAaY2PJJrsS6vg8RntEEQ7aPxj_MrFfEJp?gv=true"
style="border: 0" width="100%" height="600" frameborder="0"></iframe>
 -->
<!-- reservar.component.html -->
<!-- <button class="flex items-center justify-center" (click)="reservarAhora()">
  <a class="text-white bg-[#1AC816] hover:bg-[#1AC816]/90 focus:ring-4 focus:outline-none focus:ring-[#1AC816]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1AC816]/55">
    Reserva Ahora
  </a>
</button> -->

<!-- Elemento oculto que será el target para el modal de Google Calendar -->