<div class="searchs flex flex-col gap-4 bg-fondo mt-5">
    <h3 class="text-secondary text-xl md:text-2xl font-black font-Battambang leading-6">
        Servicio y Actividades
    </h3>
    <p class="text-terceary text-xs md:text-sm text-justify font-normal font-Battambang leading-normal md:pr-[20%]">
        Explora las festividades y eventos de Chacas en nuestro calendario,
        creado con la colaboración de los residentes locales para brindarte información
        auténtica y actualizada.
    </p>


</div>