<div class="flex flex-col gap-12 py-12 items-center font-Battambang">
    <div class="searchs flex flex-col gap-4 bg-fondo mt-5">
        <h3 class="text-secondary text-xl md:text-2xl font-black font-Battambang leading-6">
            Hospedajes
        </h3>
        <p class="text-terceary text-xs md:text-sm text-justify font-normal font-Battambang leading-normal">
            Encuentra el alojamiento perfecto para tu descanso. Desde acogedoras cabañas hasta modernos hoteles, ofrecemos una variedad de opciones adaptadas a tus gustos y necesidades. Disfruta de comodidad y tranquilidad en lugares únicos, listos para hacer de
            tu estancia una experiencia excepcional.
        </p>
    </div>


    <div>
        <br />

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 font-Battambang">
            @for (item of list_resultadoBusqueda; track $index) {
            <div class="bg-white border border-gray-200 rounded-2xl shadow-lg overflow-hidden cursor-pointer transition-all duration-300 hover:shadow-xl hover:scale-105">
                <div class="relative">
                    <img class="h-64 w-full object-cover" [src]="getPrincipalImage(item.imagenes)" [alt]="item.nombre" />
                    <div class="absolute top-4 right-4 bg-red-500 text-white px-3 py-1 rounded-full text-sm font-semibold">
                        {{ item.tipo }}
                    </div>
                </div>
                <div class="p-6 flex flex-col gap-1">
                    <h5 class="text-xl font-bold font-Battambang text-gray-800 ">
                        {{ item.nombre }}
                    </h5>
                    <div class="text-sm font-semibold font-Battambang text-gray-600">
                        {{ item.lugar }}
                    </div>
                    <div class="flex justify-center items-center mt-2">

                        <button (click)="goToHospedaje(item)" class="bg-primary text-white px-4 py-2 rounded-lg hover:bg-secondary-dark transition-colors duration-300">
              Ver detalles
            </button>
                    </div>
                </div>
            </div>
            }

        </div>
        @if (list_resultadoBusqueda.length == 0) {
        <div class="flex items-center justify-center">
            <p>Aún no tenemos habitaciones disponibles</p>
        </div>
        }



    </div>




</div>