<div class="bg-fondo">
<!--Header-->
<div
  class="w-full h-fit bg-center bg-cover"
  style="background-image: url('{{ departmentAndLugares.foto }}')"
>
  <div
    class="w-full h-full bg-terceary flex flex-col justify-start items-center bg-opacity-50"
  >
    <div class="nav-header p-5 h-fit w-full">
      <app-navar></app-navar>
    </div>
    <div
      class="w-fit h-fit flex flex-col text-center mx-4 my-20 md:mx-8 md:my-20 lg:mx-20 lg:my-40 xl:mx-40 xl:my-60 gap-10"
    >
      <div
        class="text-fondo text-xl md:text-4xl font-normal font-['Battambang']"
      >
        Bienvenido a
      </div>
      <div
        class="text-blue-300 text-5xl md:text-6xl font-extrabold font-['Montserrat'] uppercase"
      >
        {{ departmentAndLugares.nombre }}
      </div>
      <div class="text-fondo text-xl font-normal font-['Battambang']">
        {{ departmentAndLugares.descripcion }}
      </div>
    </div>
  </div>
</div>
<!-- buscador y filtros -->
<body class="bg-fondo h-fit flex flex-col  gap-8 md:gap-10 items-start m-4 md:m-8 lg:m-20 max-w-7xl xl:mx-auto">
  <div>
    <app-bread-crumb></app-bread-crumb>
  </div>
  @if (departmentAndLugares.lugares.length != 0) {
  <!--<div class="bg-fondo file:searchs m-4 md:m-8 lg:m-20 xl:mx-40 xl:my-24">
    <p class="text-terceary text-2xl font-bold font-['Battambang']">Mostrando 3 de 34 resultados</p>
    <br />
    <div class="w-full  gap-6 md:justify-between flex flex-col md:flex-row">
        <select
          id="department"
          formControlName="departamentoId"
          class="w-full md:w-80 h-16 p-5 rounded-3xl border bg-fondo focus:ring-primary focus:border-primary border-terceary gap-2.5 text-terceary text-opacity-50 text-xl font-normal font-['Battambang']"
            >
          <option>Ordenar por: A - Z</option>
        </select>
        <div tabindex="0" class="focus:border-blue-700 focus:ring-primary w-full md:w-fit h-16 rounded-3xl border overflow-hidden border-terceary justify-between inline-flex">
            <input
              type="search"
              id="location-search"
              class=" bg-fondo  self-stretch w-52 md:w-fit px-5 rounded-s-3xl text-terceary text-opacity-50 text-xl font-normal border-none font-['Battambang']"
              placeholder="Buscar Pueblo"
              required
            />
            <button type="submit" class="self-stretch px-5 py-4 bg-primary justify-center items-center">
                <svg
                class="w-6 h-6 items-center justify-center text-fondo"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
            </button>
        </div>
      </div>
  </div>-->

  <!--Cards-->

   @for (item of departmentAndLugares.lugares; track $index) {
  <div
    class="grid grid-cols-1 md:grid-cols-2 bg-fondo gap-4 xl:gap-10"
  >

    <div class="flex flex-col gap-8">
      <h3 class="text-secondary text-4xl font-bold font-Battambang">
        {{ item.nombre }}
      </h3>
      <p class="text-terceary text-xl font-normal font-Battambang">
        {{ item.descripcion }}
      </p>
      <button
        type="button"
        (click)="goToRoute(item.id)"
        class="w-fit h-fit p-5 bg-red-500 rounded-2xl font-Battambang text-fondo text-center text-2xl font-normal"
      >
        Saber más
      </button>
    </div>
    <div
      class="h-96 md:h-full rounded-3xl bg-cover bg-center flex justify-start items-end"
      style="background-image: url('{{ item.foto }}')"
    >
      <div
        class="w-full h-40 p-5 bg-gradient-to-t from-terceary rounded-3xl flex justify-start items-end text-fondo"
      >
        {{ item.nombre }}
      </div>
    </div>
  </div>
  } }

</body>
<!-- Footer -->
<div><app-footer></app-footer></div>
