.sidebar {
    transition: all .4s ease-in-out;

    .open {
        display: block;
    }

    .close {
        display: none;
    }

    &:hover {
        .close {
            display: block;
        }

        .open {
            display: none;
        }
    }
}

.navar-not-selected {
    @apply border border-black text-black rounded-full p-3 
}
.navar-selected {
    @apply border border-primary text-white rounded-full p-3 bg-primary shadow-xl
}