/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite/dist/flowbite.css';




.global-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Design scroll 


.global-scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.global-scroll-y::-webkit-scrollbar {
    width: 4px;
}

.global-scroll-y::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}