<div id="modal-filter-services" tabindex="-1" aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0">
  <div class="relative max-h-full w-full max-w-2xl">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow ">

      <div class="flex items-center justify-between rounded-t border-b p-3 ">
        <div class="h-2 w-1">

        </div>
        <div>
          @switch (valueOutput.typeServicio) {
          @case ('HOSP') {

          <h3 class="text-sm font-semibold text-gray-900 text-center lg:text-xl">
            Filtros Hospedajes
          </h3>

          }
          @case ('REST') {

          <h3 class="text-sm font-semibold text-gray-900 text-center lg:text-xl">
            Filtros Restaurantes
          </h3>

          }
          @case ('TOUR') {

          <h3 class="text-sm font-semibold text-gray-900 text-center lg:text-xl">
            Filtros Tours
          </h3>

          }
          }

        </div>
        <div>
          <button type="button" (click)="Modal.hide()"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
      </div>
      @switch (valueOutput.typeServicio) {
      @case ('HOSP') {
      <div class="p-5">
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
            Precio
          </label>
          <input type="text" id="first_name" [(ngModel)]="valueOutput.filtroHabitaciones.precio"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="John" required />
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Tipo de Hospedaje
          </label>
          <div class="grid grid-cols-2">
            @for (hospedaje of this.list_tipos_hospedaje; track hospedaje.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="hospedaje.value" [(ngModel)]="hospedaje.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{hospedaje.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Tipo de Habitacion
          </label>
          <div class="grid grid-cols-2">
            @for (habitacion of this.list_tipos_habitaciones; track habitacion.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="habitacion.value" [(ngModel)]="habitacion.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{habitacion.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
            Servicios
          </label>
          <div class="grid grid-cols-2">
            @for (servicios of this.list_tipos_servicios; track servicios.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="servicios.value" [(ngModel)]="servicios.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{servicios.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
            Idiomas
          </label>
          <div class="grid grid-cols-2">
            @for (idioma of this.list_idiomas; track idioma.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="idioma.value" [(ngModel)]="idioma.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{idioma.value}}</label>
            </div>
            }
          </div>
        </div>
      </div>
      }
      @case ('TOUR') {
      <div class="p-5">
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
            Precio
          </label>
          <input type="number" id="first_name" [(ngModel)]="valueOutput.filtroTurs.precio"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="0" required />
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
            Tipo Tour
          </label>
          <div class="grid grid-cols-2">
            @for (tipos_tours of this.list_tipos_tours; track tipos_tours.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="tipos_tours.value" [(ngModel)]="tipos_tours.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{tipos_tours.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
            Duración
          </label>
          <input type="number" id="first_name" [(ngModel)]="valueOutput.filtroTurs.duracion"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="John" required />
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
            Tamaño Grupo
          </label>
          <div class="grid grid-cols-2">
            @for (group_size of this.list_group_size; track group_size.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="group_size.value" [(ngModel)]="group_size.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{group_size.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
            Idiomas
          </label>
          <div class="grid grid-cols-2">
            @for (idioma of this.list_idiomas; track idioma.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="idioma.value" [(ngModel)]="idioma.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{idioma.value}}</label>
            </div>
            }
          </div>
        </div>
      </div>
      }
      @case ('REST') {
      <div class="p-5">
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio
          </label>
          <input type="number" id="first_name" [(ngModel)]="valueOutput.filtroRestaurantes.precio"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="0" required />
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de
            establecimiento
          </label>
          <div class="grid grid-cols-2">
            @for (tipo_establecimiento of this.list_tipo_establecimiento; track tipo_establecimiento.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="tipo_establecimiento.value" [(ngModel)]="tipo_establecimiento.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{tipo_establecimiento.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de Cocina
          </label>
          <div class="grid grid-cols-2">
            @for (tipo_comida of this.list_tipo_cocina; track tipo_comida.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="tipo_comida.value" [(ngModel)]="tipo_comida.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{tipo_comida.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Horario de
            atencion
          </label>
          <div class="grid grid-cols-2">
            @for (hora_atencion of this.list_hora_atencion; track hora_atencion.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="hora_atencion.value" [(ngModel)]="hora_atencion.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{hora_atencion.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Servicios
          </label>
          <div class="grid grid-cols-2">
            @for (horario_servicios of this.list_servicios; track horario_servicios.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="horario_servicios.value" [(ngModel)]="horario_servicios.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{horario_servicios.value}}</label>
            </div>
            }
          </div>
        </div>
        <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ambiente
          </label>
          <div class="grid grid-cols-2">
            @for (ambiente of this.list_ambientes; track ambiente.value) {
            <div class="flex items-center mb-4">
              <input id="default-checkbox" type="checkbox" [id]="ambiente.value" [(ngModel)]="ambiente.checked"
                class="w-4 h-4  border--300 rounded focus:ring-primary text-red-500 checked:bg-primary focus:ring-2 bg-gray-50">
              <label for="default-checkbox"
                class="ms-2 text-sm font-medium text-gray-400 dark:text-gray-500">{{ambiente.value}}</label>
            </div>
            }
          </div>
        </div>
      </div>
      }
      }
      <button type="button" (click)="selectFilters(valueOutput)"
        class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        Buscar
      </button>


    </div>
  </div>
</div>
