@if (loading) {

<div class="flex items-center justify-center h-96">
  <div
    class="w-16 h-16 border-t-2 border-b-2 border-gray-900 rounded-full animate-spin"
  ></div>
</div>

} @else {

<div class="grid grid-cols-5 gap-2 p-1 md:mx-10">
  <div
    class="col-span-5 md:col-span-3 flex flex-col justify-center items-start pr-5"
  >
    <h3
      class="text-[#33425B] md:text-[24px] text-[20px] font-bold tracking-tight"
    >
      Conoce {{ lugarDetalle.nombre }}
    </h3>
    <p class="text-[#29252C]">{{ lugarDetalle.descripcion }}</p>
  </div>
  <div class="col-span-5 md:col-span-2 global-center">
    <iframe
      height="300"
      [src]="urlSegura"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>

<div class="mt-9">
  <h3
    class="text-[#33425B] md:text-[34px] text-[30px] font-bold tracking-tight text-center mb-9"
  >
    ¿Porqué visitarlo?
  </h3>

  @for (item of this.lugarDetalle.motivosVisita; track item.id;let even = $even)
  {

  <div class="grid grid-cols-5 p-1 md:mx-10">
    <div
      class="flex flex-col justify-center md:items-start items-center col-span-5 md:col-span-3"
      [ngClass]="{ 'md:pr-5 md:pl-0': even, 'md:pr-0 md:pl-5': !even }"
    >
      <h3
        class="text-[#33425B] md:text-[24px] text-[20px] font-bold tracking-tight"
      >
        {{ item.nombre }}
      </h3>
      <p class="md:text-left text-justify">
        {{ item.descripcion }}
      </p>
    </div>
    <div
      class="col-span-5 md:col-span-2 global-center"
      [ngClass]="{
        'md:order-first md:order-none': !even,
        'md:order-last md:order-none': even
      }"
    >
      <img
        class="md:w-[370px] md:h-[305px] w-[350px] h-[285px] md:my-0 my-5 rounded-3xl"
        src="{{ item.foto }}"
        alt="{{ item.nombre }}"
      />
    </div>
  </div>

  } @empty {

  <li>There are no items.</li>

  }
</div>

<div class="mt-9">
  <h3
    class="text-[#33425B] md:text-[24px] text-[20px] font-bold tracking-tight text-center mb-9"
  >
    {{ lugarDetalle.nombre }} en vista del mundo
  </h3>

  <p-carousel
    [value]="this.lugarDetalle.vistasdelmundo"
    [numVisible]="3"
    [numScroll]="2"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-item pTemplate="item">
      <div
        routerLink="/pueblitos/97d1a344-6c48-422c-b790-e44f5a10497f"
        class="flex flex-col h-[380px] items-center bg-white border border-gray-200 m-2 rounded-lg shadow hover:bg-gray-100"
      >
        <img
          class="object-cover w-full rounded-t-lg md:h-[177px] h-[170px]"
          src="{{ item.foto }}"
          alt="{{ item.nombre }}"
        />
        <div class="flex flex-col justify-between md:p-4 p-2 leading-normal">
          <h5
            class="md:text-[24px] text-[20px] font-bold tracking-tight text-black"
          >
            {{ item.titulo }}
          </h5>
          <p class="md:text-[13px] text-[11px] text-[#29252C]">
            {{ item.descripcion }}
          </p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

}
