<div class="grid grid-cols-1 gap-8 font-Battambang">
  @if (loading) {

  <div class="flex items-center justify-center h-96">
    <div class="w-16 h-16 border-t-2 border-b-2 border-gray-900 rounded-full animate-spin"></div>
  </div>

  } @else {
  <div class="grid md:grid-cols-2 gap-8 mt-5">
    <div class="col-span-1 md:col-span-1 flex flex-col justify-center items-start gap-6">
      <h3 class="text-secondary md:text-[24px] text-[20px] font-bold tracking-tight">
        Conoce {{ lugarDetalle.nombre }}
      </h3>
      <p class="text-[#29252C] text-xs md:text-sm text-justify">{{ lugarDetalle.descripcion }}</p>
    </div>
    <div class="col-span-1 md:col-span-1 rounded-3xl global-center">
      <iframe class="w-full md:mx-16 h-56 rounded-3xl" [src]="urlSegura" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>

  <div class="flex flex-col gap-8 text-center">
    <h3 class="text-secondary text-2xl font-bold tracking-tight text-center">
      ¿Por qué visitar {{ lugarDetalle.nombre }}?
    </h3>
    <!-- <h3 class="text-justify text-xs md:text-sm font-bold">
      {{ lugarDetalle.motivosVisita[0].nombre }}
    </h3>
    <p class="text-justify text-xs md:text-sm">
      {{ lugarDetalle.motivosVisita[0].descripcion }}
    </p> -->
    <div class="grid  gap-8">
      @for (item of lugarDetalle.motivosVisita; track item.id;let even = $even) {

      <div class="grid md:grid-cols-2 gap-8">
        <div class="flex flex-col justify-center md:items-start items-center gap-6 col-span-1">
          <h3 class="text-secondary text-md md:text-xl font-bold tracking-tight text-center">
            {{ item.nombre }}
          </h3>
          <p class="text-justify text-xs md:text-sm">
            {{ item.descripcion }}
          </p>
        </div>
        <div class="col-span-1 global-center" [ngClass]="{
              'md:order-first md:order-none': !even,
              'md:order-last md:order-none': even
            }">


          <img class="md:h-[305px] w-full md:w-[70%] h-[285px] md:my-0 my-5 rounded-3xl cursor-zoom-in		"
            (click)="viewProveedorImage(item)" [src]="item.foto.url ? item.foto.url : './assets/chacas.jpg'"
            alt="{{ item.nombre }}" loading="lazy" />
        </div>
      </div>

      <!-- <div class="col-span-4 md:col-span-1  border border-black rounded-xl  p-3">
        <h3 class="text-secondary text-md md:text-xl font-bold tracking-tight text-center">
          {{ item.nombre }}
        </h3>
        <p class="text-justify text-xs md:text-sm">
          {{ item.descripcion }}
        </p>
        <img class="md:h-[305px] w-full md:w-[70%] h-[285px] md:my-0 my-5 rounded-3xl cursor-zoom-in		" (click)="viewProveedorImage(item)"
              [src]="item.foto.url ? item.foto.url : './assets/chacas.jpg'" alt="{{ item.nombre }}" loading="lazy" />
      </div> -->

      } @empty {

      <li>There are no items.</li>

      }
    </div>
  </div>

  <div class="grid grid-cols-4 ">
    <div class="col-span-4 md:col-span-2 md:col-start-2 text-center  ">
      <div class="p-3  border-b-2">
        <h3 class="text-secondary text-2xl font-bold tracking-tight text-center">
          ¿Qué encontraré en Mis Pueblitos?
        </h3>

        <p class="text-justify py-2 text-xs md:text-sm">
          En nuestra plataforma encontrarás información confiable de los negocios de tu pueblito favorito. Desde
          restaurantes y tiendas locales hasta servicios y atracciones turísticas, te ofrecemos todo lo que necesitas
          para
          planificar tu visita.
        </p>
        <br>
        <!-- <button type="button"
          class="focus:outline-none text-white bg-primary hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-primary dark:focus:ring-red-900">
          Ver Atractivos
        </button> -->
      </div>
    </div>

    <div class="col-span-4 md:col-span-2 text-center  border-r-2 p-3 my-3">
      <div class=" border-b-2">
        <h3 class="text-secondary text-2xl font-bold tracking-tight text-center">
          ¿Cómo llegar a {{ lugarDetalle.nombre }} y que llevar?
        </h3>

        <p class="text-justify py-2 text-xs md:text-sm">
          Llegar a {{ lugarDetalle.nombre }} es el primer paso hacia una aventura inolvidable.
          Consulta nuestras indicaciones en <b>Tips de Viajero</b>, descubre como llegar y planifica tu viaje para vivir
          la mejor experiencia de tu vida.
        </p>
        <br>
        <button type="button" (click)="routesCreated.action = 'tips-viajero';goToRoute(routesCreated)"
          class="focus:outline-none text-white bg-primary hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-primary dark:focus:ring-red-900">
          Ver Tips Viajeros
        </button>
      </div>

    </div>

    <div class="col-span-4 md:col-span-2 text-center p-3 m-3">
      <div class=" border-b-2">
        <h3 class="text-secondary text-2xl font-bold tracking-tight text-center">
          ¿Dónde comer en {{ lugarDetalle.nombre }}?
        </h3>

        <p class="text-justify py-2 text-xs md:text-sm">
          La gastronomía de {{ lugarDetalle.nombre }} es una experiencia en sí misma. Descubre la autenticidad de
          nuestros
          sabores locales y explora nuestros restaurantes recomendados para una verdadera fiesta culinaria.
        </p>
        <br>
        <button type="button" (click)="routesCreated.action = 'restaurantes';goToRoute(routesCreated)"
          class="focus:outline-none text-white bg-primary hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-primary dark:focus:ring-red-900">
          Ver Restaurantes
        </button>
      </div>

    </div>

    <div class="col-span-4 md:col-span-2 text-center border-r-2 p-3 my-3">
      <div class=" border-b-2">
        <h3 class="text-secondary text-2xl font-bold tracking-tight text-center">
          ¿Dónde puedo alojarme en {{ lugarDetalle.nombre }}?
        </h3>

        <p class="text-justify py-2 text-xs md:text-sm">
          Sumérgete en la hospitalidad de {{ lugarDetalle.nombre }}. Te recomendamos nuestros acogedores lugares de
          hospedaje para que tu
          estancia sea tan memorable como los paisajes que explorarás.
        </p>
        <br>
        <button type="button" (click)="routesCreated.action = 'hospedajes';cambiarTipoServicio('HOSP');goToRoute(routesCreated)"
          class="focus:outline-none text-white bg-primary hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-primary dark:focus:ring-red-900">
          Ver Hospedajes
        </button>
      </div>

    </div>

    <div class="col-span-4 md:col-span-2 text-center p-3 m-3">
      <div class=" border-b-2">
        <h3 class="text-secondary text-2xl font-bold tracking-tight text-center">
          ¿Qué hacer en {{ lugarDetalle.nombre }}?
        </h3>

        <p class="text-justify py-2 text-xs md:text-sm">
          {{ lugarDetalle.nombre }} ofrece experiencias únicas. Descubre nuestra selección de tours cuidadosamente
          diseñados que te llevarán
          a los tesoros escondidos de la región. Deja que cada paso te cuente una historia.
        </p>
        <br>
        <button type="button" (click)="routesCreated.action = 'tours-experiencias';cambiarTipoServicio('TOUR');goToRoute(routesCreated)"
          class="focus:outline-none text-white bg-primary hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-primary dark:focus:ring-red-900">
          Ver Tours
        </button>
      </div>

    </div>
  </div>

  <!-- <div class="text-center">
    <h3 class="text-secondary text-2xl font-bold tracking-tight text-center">
      Festividades y Eventos que se acercan
    </h3>
    <br>
    <div class="md:mx-10 relative">
      <swiper-container id="Festivities" init="false" class="flex items-center justify-center">
        @for (item of onlyEventes(monthSelect); track $index) {
        <swiper-slide>
          <div class="bg-fondo border border-terceary rounded-3xl shadow overflow-hidden">
            <a>
              <img class="rounded-t-lg w-full h-32" src="{{ item.img.url }}" alt="" />
            </a>
            <div class="min-h-28 p-4 flex flex-col items-start gap-2">
              <h5 class="text-sm font-bold font-Battambang leading-5 text-primary">
                {{ item.name_father }}
              </h5>
              <div class="text-xs text-justify font-Battambang leading-normal text-terceary">
                {{ item.fechaInicio | date:'dd MMM'}} - {{ item. fechaFin | date:'dd MMM'}}
              </div>


              <p class="text-xs font-bold text-black">
                {{item.location_exact}}
              </p>

            </div>
          </div>
        </swiper-slide>
        } @empty {
        <div class="h-60 w-full flex items-center justify-center">
          <p>El servicio no tiene menús agregadas</p>
        </div>
        }
      </swiper-container>
      <div class="pt-2 flex items-center justify-center">
        <button type="button"
          class="swiper-buttonFestivities-prev  absolute top-1/2 translate-y-[-50%] left-0 z-10 text-primary font-bold bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-sm p-1 md:p-2.5 text-center inline-flex items-center me-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
              d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
              clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Icon description</span>
        </button>

        <button type="button"
          class="swiper-buttonFestivities-next  absolute top-1/2 translate-y-[-50%] right-0 z-10 text-primary font-bold bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-sm p-1 md:p-2.5 text-center inline-flex items-center me-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
              d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
              clip-rule="evenodd" />
          </svg>

          <span class="sr-only">Icon description</span>
        </button>
      </div>
    </div>
    <button type="button"
      class="focus:outline-none text-white bg-primary hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-primary dark:focus:ring-red-900">
      Ver Festividades
    </button>
  </div> -->


  <div class="">
    <h3 class="text-secondary md:text-[36px] text-[20px] font-bold tracking-tight text-center mb-9">
      {{ lugarDetalle.nombre }} en vista del mundo
    </h3>

    <p-carousel [value]="this.lugarDetalle.vistasdelmundo" [numVisible]="3" [numScroll]="2" [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-item pTemplate="item">

        <div
          class="flex flex-col h-fit items-center bg-white border border-gray-200 m-2 rounded-3xl shadow hover:bg-gray-100">
          <img class="object-fill w-full rounded-t-3xl md:h-[200px] h-[170px]"
            [src]="item.foto.url ? item.foto.url : './assets/chacas.jpg'" alt="{{ item.nombre }}">

          <div class="flex flex-col justify-between gap-4 md:p-5 p-2 leading-normal">
            <h5 class="md:text-xl text-lg font-bold tracking-tight text-black">
              {{ item.titulo }}
            </h5>
            <p class="md:text-base text-xs text-[#29252C]">
              {{ item.descripcion }}
            </p>
            <div class="flex gap-2 items-center font-Battambang">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 " viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
                  <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
                </g>
              </svg>
              <a href="{{item.links.link}}" target="_blank" class="text-xs md:text-base"> Fuente </a>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  }
</div>